#emp-app-comp {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#emp-app-comp h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#emp-app-search-bar {
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
}
#emp-app-search-bar input, #emp-app-search-bar button, #emp-app-search-bar select{
    border-radius: 0;
    border: none;
    /* height: 4px; */
    font-size: 22px;
    padding: 0 10px;
    margin: none;
}

#emp-app-search-bar input {
    /* background-color: rgb(6, 173, 224); */
    border-radius: 10px 0 0 10px;

}


#emp-app-search-bar button {
    background-color: rgb(6, 173, 224);
    border-radius: 0 10px 10px 0;

}

#emp-app-comp table{
    display: flex;
    flex-direction: column;
    width: 1120px;
    min-height: 450px;
    max-height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
    box-shadow: 0 0 10px;
    border-collapse: collapse;
}

#emp-app-comp table tr{
    display: flex;
    border: 1px solid black;
    align-items: center;

}

#emp-app-comp table tr:nth-child(even){
    background-color: rgb(199, 199, 199);
}
#emp-app-comp table tr:nth-child(odd){
    background-color: white;
}

#emp-app-comp table td{
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 16px;
    border: 1px solid black
}

#emp-app-comp table tr :last-child{
    width: 280px;
}

thead td {
    font-weight: 1000;
}

.employee-btns {
    width: 190px;
    display: flex;
    justify-content: space-evenly;
    
}

.employee-btns button {
    box-shadow: -1px 1px 1px black,
    -2px 2px 1px black;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    margin: 0 5px;
    max-width: 80px;
    min-width: 80px;
    font-size: 18px;
}

.employee-btns button:nth-child(odd) {
    background-color: rgb(6, 173, 224);
    
}

.employee-btns button:nth-child(even) {
    color: white;
    background-color: rgb(235, 0, 59);
    
}


#add-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
    align-items: end;
    width: 1050px
}


#add-btn a, #add-btn button, #logout-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0, 226, 151), rgb(0, 190, 41));
    text-decoration: none;
    color: black;
    padding:  10px;
    border: 2px solid black;
    box-shadow: -1px 1px 1px black,
    -2px 2px 1px black,
    -3px 3px 1px black,
    -4px 4px 1px black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 22px;

}

#add-btn button {
    height: 75px;
    background-image: linear-gradient(to right, rgb(255, 0, 13), rgb(138, 1, 1));
    color: white;
    cursor: pointer;
}

#logout-section {
    margin-top: 50px
}

#logout-section button{
    height: 75px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(163, 163, 163));
    color: white;
    cursor: pointer;
}