#home-comp {
    display: flex;
    width: 98vw;
    height: 98vh;
    align-items: center;
    justify-content: center;
}

#home-comp div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

#home-comp div h2{

    font-size: 42px;
    color: black
}

#home-comp div a{

    font-size: 36px;
    color: black;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 0 5px black;
    /* border-radius: 30% 10px; */
}